.switch-wrapper {
    position: relative;
    height: 100%;
}

.switch-wrapper > div {
    position: absolute;
    height: 100%;
    width: 100%;
}

.nothing-here {
    text-align: center;
    width: 100%;
    color: #7a7a7a;
    font-size: 12px;
}
