.sidebar {
    background-color: #f0f0f0;
    order: -1;
    max-width: 5em;
    flex-grow: 0; /* Defined the ability to grow */
    flex-shrink: 0; /* Defines the ability to shrink */
    flex-basis: 12em; /* Default value of the element before distribuing the remaing space */
}

.sidebar ul li.personal {
    background-color: #eaeaea;
    text-align: center;
    font-size: 28px;
    line-height: 52px;
    color: #535353;
    height: 18px;
    min-height: 52px;
    margin-bottom: 5px;
}

.sidebar ul li.personal:hover {
    background-color: #dbdbdb;
}

.sidebar ul {
    margin: 0px;
    list-style-type: none;
    padding-left: 0px;
}

.sidebar ul li {
    min-height: 60px;
    vertical-align: middle;
    padding: 4px;
    cursor: pointer;
}

.sidebar ul li .ms-Persona .ms-Persona-coin {
    margin: 0 auto;
}
