.sidebar {
    background-color: #303965;
    order: -1;
    max-width: 5em;
    flex-grow: 0; /* Defined the ability to grow */
    flex-shrink: 0; /* Defines the ability to shrink */
    flex-basis: 12em; /* Default value of the element before distribuing the remaing space */
}

.sidebar ul li.personal a {
    color: #ffffff;
}

.sidebar ul li.personal {
    background-color: #33406f;
    text-align: center;
    font-size: 24px;
    line-height: 30px;
    height: 18px;
    min-height: 30px;
    margin-bottom: 5px;
}

.sidebar ul li.join-group {
    font-size: 24px;
    position: absolute;
    bottom: 0;
}

.sidebar ul li.personal:hover {
    background-color: #364476;
}

.sidebar ul {
    margin: 0px;
    list-style-type: none;
    padding-left: 0px;
}

.sidebar ul li {
    min-height: 64px;
    vertical-align: middle;
    padding: 5px;
}

.sidebar ul a {
    text-decoration: none;
}

.sidebar ul a.is-active li {
    border-left: 3px solid #5b67b8;
    background: #2b2c57;
}

.sidebar ul a:not(.is-active) li {
    margin-left: 3px;
}

.sidebar ul li .ms-Persona .ms-Persona-coin {
    margin: 0 auto;
}
