body {
    background-color: #f0f0f0 !important;
}
.login {
    color: #ffffff;
    font-family: sans-serif;
    text-align: center;
}
.logo {
    width: 360px;
    top: 200px;
    position: relative;
}
.login-label {
    margin-top: -15px;
    font-size: 24px;
}
.forgot-password {
    display: block;
    margin-top: 10px;
    font-size: 14px;
}
.login-box {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 3px 0px;
    text-align: left;
    color: #333333;
    padding: 35px;
    background: #ffffff;
    width: 465px;
    height: 175px;
    top: 50%;
    left: 50%;
    position: absolute;
    margin-top: -150px; /* There's a better way to do it! Fix this! */
    margin-left: -250px;
}
.login-box .ms-TextField {
    margin-top: 5px;
    border-bottom: thin solid #bcbcbc;
}
.login-box .ms-TextField .ms-TextField-fieldGroup input {
    padding-left: 0;
}
.button-box {
    margin-top: 10px;
    text-align: right;
}
.button-box button:first-child {
    margin-right: 10px;
}
